<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        You have successfully submitted general inquiries to us. Thank you for your interest in DAS!
    </p>
    <p> ==============================</p>
    <p> This email was automatically sent by DAS</p>
  </body>
</html>