<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new student message</p>
    <p>
      <%= @body.split("-")[0] %>
    </p> 
    <p>
      <%= @body.split("-")[1]%>
    </p>
    <p>
      <%= @body.split("-")[2]%>
    </p>
  </body>
</html>