<nav class="navbar navbar-light nav-pills nav-justified w-100" style="background: black;" id="low-nav">
    <a class="nav-item nav-link" href="#main"><p class="low">HOME</p><span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#about"><p class="low">ABOUT</p></a>
    <a class="nav-item nav-link" href="#team"><p class="low">LEADERSHIP</p></a>
    <a class="nav-item nav-link" href="#recruitment"><p class="low">RECRUITMENT</p></a>
</nav> 